
.inner{
	position: absolute;
}
.w160 {
    width: 160ch;
}


.disc {
	list-style-type: disc;
}

.pad {
  padding-left: 30px;
}

.center_button {
	margin-left:auto;
	margin-right:auto;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}