.coaching_panel0{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

.coaching_panel1{
  display: block;
  margin: 5%;
  text-align: justify;
}

.coaching_panel2{
  text-align: center;
  margin: 3%;
}

p{
  margin-top: 20px;
  margin-bottom: 40px;

}

h3{

  font-size: 35px;
}