.title-left {

	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 300px;
}

.title-right {
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	font-size: 28px;
	font-style: bold;
	font-color: black;
}

/*.title-title {
	font-size: 100px;
	font-style: bold;
	font-color: blue;
	text-align :right;
}*/

/*.title-date {

    font-size: 20px;
    font-style: bold;
    text-align :right;
}

.title-location {

    font-size: 20px;
    font-style: bold;

}*/

img {

	max-width:100%;
	max-height: 100%;

}

.instructor-left {

	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 100px;
}

.instructor-right {
	display: inline-block;
	text-align:right;
}

.title-button { 

	height:60px;
	width: 200px;
	font-size: 36pt;
	margin-left: 300px;
	margin-top: -50px;
	
}

.center-button {

	font-size: 30pt;	

}


.body-left {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.body-right {
	
	display: inline-block;
	vertical-align:top;
	font-size: 20px;
	
}

button {
	font-size: 14pt;
	font-style: bold;
	height:50px;
	width: 200px;


}

.review-image-left {

	display:inline-block;
	width: 90px;
	height: 90px;

}

.review-content-right {

	display: inline-block;
}

.review-image2-left {

	display: inline-block;
	width: 90px;
	height: 90px;

}

.review-content2-right {

	display: inline-block;

}


.review-image3-left {

	display: inline-block;
	width: 90px;
	height: 90px;

}

.review-content3-right {

	display: inline-block;

}
.review-image4-left {

	display: inline-block;
	width: 90px;
	height: 90px;

}

.review-content4-right {

	display: inline-block;

}

span.info-key{
	font-size: 17pt;
	font-style: bold;
}

span.info-val {

	font-size: 13pt;
	font-style: italic;
}

