.registration_panel{
    display: flex;
    box-sizing: border-box;
    max-width: 30%;
   
}

.registration_panel1{
    /*flex: 50%;*/
    text-align: justify;
    height: 30%;
    margin: 4%;


}


