*{
  box-sizing: border-box;
}

.resourcepanel{
    margin: 10%;
    text-align: justify;
    color: rgba(33,33,33,1);
    font-family: Lato, sans-serif;
    font-weight: 400;
   
     
}

.resource_list{
    text-decoration: underline;
    margin-left: 1%;
    margin-top: 5px;
}

.resource_link{
    color: black;

}

.resource_ul{
    list-style-type: square;
    font-size: 16px;
    

}

.title{

    margin-top: -80px;
    font-size: 22px;
    font-style: bold;

}

li{
    margin-top: 18px;

}


