.successful_registration_panel{
    display: flex;
    box-sizing: border-box;
}

.successful_registration_panel1{
    flex: 50%;
    text-align: justify;
    width: 100%;
    height: 20%;
    margin: 10%;
}


