.row {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
  display: inline-block;
}
.block {
  width: 33%;
  /*float: left;*/
  display: inline-block;
  zoom: 1;
}

.disc {
	list-style-type: disc;
}

.pad {
  padding-left: 30px;
}

.left_text {
	text-align: left;
}