.row {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
  display: inline-block;
}
.block {
  width: 33%;
  /*float: left;*/
  display: inline-block;
  zoom: 1;
  margin-top: 7px;
  border-width: 10px;
}

.disc {

	list-style-type: none;
  text-align: left;
  font-style: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pad {
/*  padding-left: 30px;*/
/*  padding-left: 0pt;*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.left_text {
	text-align: left;

}

li.class_icons {
  float: left;
/*  display:inline-block;*/
  display:block;
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}