{% include "header.html" %}
{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static',    filename='/assessment.css') }}">
</head>
<div>
	<div style='z-index: 1'>
		<img src="{{url_for('static', filename='assessment_evaluation_image.png')}}"
 			style="width: 15vw; height: 10vw"/>
        <button style="margin-left: 1000px"class="Contact Us" onclick="window.location.href = '/contact_us';">Contact Us</button>
	</div>
	<div style='z-index: 2' id="body">
		<ul>
			<div class = "why-assessment">
			<li class="disc">Why Assessment?</li>
			<br>   
				<ul class="pad">
					<p>Embedded in the Agile principles is the concept of reflection, feedback, and continuous improvement.  The best way to progress is to assess your current Agile environment in order to identify areas for improvement.  Knowledge gained from assessments can be crucial in developing a plan to help you and your organization progress with Agile.</p>
					
				</ul>
			</div>
				<br>
				<br>
			<li class="disc">What are the different types of assessment?</li>
			<br>
				<ul class="pad">
					<li class="sub">Leadership Assessment</li>
					<ul class="pad">
					<p>An Agile leader is not merely an enlightened manager.  Agile requires a new set of skills to help guide your team.  A leadership assessment can help you recognize areas requiring further training and focus to assist in empowering your teams and coordinating your Agile efforts at an enterprise level.</p>
					</ul>
				</ul>
				<ul class="pad">
					<li class="sub">Organization Assessment</li>
					<ul class="pad">
					<p>Use an organization assessment to set a baseline for your overall Agile implementation.  See where you are taking advantage of Agile and where your company should focus their transformation efforts.  Sometimes an outside viewpoint is needed to be able to see the details that so often go unnoticed.</p>
					</ul>
				</ul>
				<ul class="pad">
					<li class="sub">Portfolio Assessment</li>
					<ul class="pad">
					<p>Use an organization assessment to set a baseline for your overall Agile implementation.  See where you are taking advantage of Agile and where your company should focus their transformation efforts.  Sometimes an outside viewpoint is needed to be able to see the details that so often go unnoticed.</p>
					</ul>
				</ul>
				<ul class="pad">
					<li class="sub">Program Assessment</li>
					<ul class="pad">
					<p>Measure the effectiveness of your Agile implementation.  Identify targets for improvement across a number of development teams.  See where your planning and execution are working well, and where they can be improved</p>
					</ul>
				</ul>
				<ul class="pad">
					<li class="sub">Team Assessment</li>
					<ul class="pad">
					<p>A team is more than the sum of its parts - there's a synergy at work when there's a shared vision and everyone is in sync.  Uncover the dynamics of your team's environment to enable all the members to contribute up to their full potential.</p>
					</ul>
				</ul>
				<ul class="pad">
					<li class="sub">Individual Role/Talent</li>
					<ul class="pad">
					<p>Each member of an Agile team needs a consistent level of understanding in order to enable organizational transformation.  Learn how your team members are using Agile practices and where they need additional coaching. .</p>
					</ul>
				</ul>
		</ul>
	</div>
	<br>
	<br>
	<div style='z-index: 3' id="wrapper">
        <button onclick="window.location.href = '/contact_us';">Contact Us</button>
	</div>
</div>
{% endblock %}
{% include "footer.html" %}