{% include "header.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='/home.css') }}">

<div class="parallax">
    <div class="content">
        
    </div>
</div>
<!-- <div class = "panel0">
    <div class = "inpanel0">
    </div>
</div>
     -->
    
<div class = "panel">
    <div class = "panel1">    
        <div class = "inpanel1">
            About Us</br>
            Assessment</br>
            Courses</br>
            Coaching</br>
        </div>
        <div class = "inpanel1">
            <button class="Collaborate" onclick="window.location.href = '/contact_us';">Collaborate</button></br>
            <button class="Schedule_an_Assesment" onclick="window.location.href = '/assessment';">Schedule an Assessment</button></br>
            <button class="View_Courses" onclick="window.location.href = '/courses';">View Courses</button></br>
            <button class="Our_Offerings" onclick="window.location.href = '/coaching';">Our Offerings</button></br>
        </div>
    </div>
    
    
    <h2>Our Services</h2>
    
    
    <div class = "panel3">
        <div class = "inpanel3">
            <button class="Schedule_an_Assesment" onclick="window.location.href = '/assessment';">Assessment</button>
            <p>
                Embedded in the Agile principles is the concept of reflection, feedback, and continuous improvement.  The best way to progress is to assess your current Agile environment in order to identify areas for improvement.  Knowledge gained from assessments can be crucial in developing a plan to help you and your organization progress with Agile. 
                <a class = "more1" href="/assessment">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
        <div class = "inpanel3">
            <button class="Training" onclick="window.location.href = '/training';">Training</button>
            <p>
                Getting the most out of the Agile process requires new skills and techniques.  Our trainers will give you the training you need,  keeping you engaged and energized as you progress toward your Agile certification.
                <a class = "more1" href="/training">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
        <div class = "inpanel3">
            <button class="Coaching" onclick="window.location.href = '/coaching';">Coaching</button>
            <p>
                There's no need to take the journey toward an Agile organization alone. We can coach your leaders and individual team members and help you realize better outcomes. xxxxxx
                <a class = "more1" href="/coaching">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
    </div>
    
    
    <h2>About Us</h2>
    
    
    <div class = "panel4">
        <div class = "inpanel4a">
            <button class="About_us" onclick="window.location.href = '/about_us';">Who We Are</button></br>
            <button class="About_us" onclick="window.location.href = '/about_us';">What We Do</button></br>
            <button class="Collaborate" onclick="window.location.href = '/contact_us';">Contact Us</button>
        </div>
        <div class = "inpanel4b">
            <p>
                Our group has been providing Agile training and coaching to leading organization for many years. 
                We are certified trainers...
                From assessment to coaching, helping you transform into a more Agile environment is our passion... 
                <a class = "more1" href="/about_us">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
    </div>
    
    
    <h2>Out Partners</h2>
    
    
    <div class = "panel5">
        <div class = "inpanel5">
            <img src="static/pmi-acp-new.png" alt="logo1" width="250" height="180">
        </div>
        <div class = "inpanel5">
             <img src="static/pmi_logo_ogShare.png" alt="logo2" width="250" height="180">
        </div>
        <div class = "inpanel5">
            <img src="static/pmi-acp-new_copy.png" alt="logo3" width="250" height="180">
        </div>
    </div>
    
    
    <h2>Get Inspired</h2>
    
    <div class = "panel6">
        <div class = "inpanel6">
            <p>
                “Our group was looking for help, and we got it.  Thanks for giving us the tools we needed to move forward!” 
            </p>
        </div>
        <div class = "inpanel6">
            
            <p>
                “The coaching you provided was fantastic.  We are able to apply the Agile principles in new ways after the time you spent with us.”  
            </p>
        </div>
        <div class = "inpanel6">
           
            <p>
                “So far our team has found your courses invaluable.  Your reputation for excellence is well deserved.” 
            </p>
        </div>
        <div class = "inpanel6">
            
            <p>
                “We were struggling with our Agile transformation, and you were able to identify areas that needed more focus.  Thanks for your guidance and insight.” 
            </p>
        </div>
    </div>    
    
    
    <h3>Stay Connected</h3>
    <div class = "panel7">
        Receive information regarding upcoming workshops and [can't read Raj's handwriting]</br>
        Name _________________________	Email ___________________________</br>
        [ ] I consent to receiving emails from Capital Services</br></br>
        <button class="Collaborate" onclick="window.location.href = '/contact_us';">Submit</button></br>
    </div>
    
</div>

{% endblock %}

{% include "footer.html" %}