{% include "header.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/home.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class = "panel0">
<div class="parallax">
   <div class="content">
        <div class="w3-content w3-section" style="max-width:500px">
            <div class="mySlides w3-animate-fading">
                <img class = "carousel" src="{{ url_for('static', filename='contact-us.jpg') }}" style="width:100%" onclick="window.location.href = '/contact_us';">
                <button class="Collaborate" onclick="window.location.href = '/contact_us';">Collaborate</button>
            </div>
            <div class="mySlides w3-animate-fading">
                <img class = "carousel" src="{{ url_for('static', filename='assessment.jpg') }}
" style="width:100%" onclick="window.location.href = '/assessment';">
                <button class="Schedule_an_Assesment" onclick="window.location.href = '/assessment';">Schedule an Assessment</button>
            </div>
            <div class="mySlides w3-animate-fading">
                <img class = "carousel" src="{{ url_for('static', filename='courses.jpg') }}
" style="width:100%" onclick="window.location.href = '/upcoming_course';">
                <button class="View_Courses" onclick="window.location.href = '/upcoming_course';">View Courses</button>
            </div>
            <div class="mySlides w3-animate-fading">
                <img class = "carousel" src="{{ url_for('static', filename='coaching_img.jpg') }}
" style="width:100%" onclick="window.location.href = '/coaching';">
                <button class="Our_Offerings" onclick="window.location.href = '/coaching';">Our Offerings</button>
            </div>
        </div>
    </div> 
    
</div>
</div>


<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none"; 
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000);    
}
</script>


<div class = "panel"> 
    
    <hr>
    <h2>Our Services</h2>
    <div class = "panel3">
        <div class = "inpanel3">
            <button class="Schedule_an_Assesment" onclick="window.location.href = '/assessment';">Assessment</button>
            <p>
                Embedded in the Agile principles is the concept of reflection, feedback, and continuous improvement.  The best way to progress is to assess your current Agile environment in order to identify areas for improvement.  Knowledge gained from assessments can be crucial in developing a plan to help you and your organization progress with Agile.</br> 
                <a class = "more1" href="/assessment">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
        <div class = "inpanel3">
            <button class="Training" onclick="window.location.href = '/training';">Training</button>
            <p>
                Getting the most out of the Agile process requires new skills and techniques.  Our trainers will give you the training you need,  keeping you engaged and energized as you progress toward your Agile certification.</br>
                <a class = "more1" href="/training">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
        <div class = "inpanel3">
            <button class="Coaching" onclick="window.location.href = '/coaching';">Coaching</button>
            <p>
                There's no need to take the journey toward an Agile organization alone. We can coach your leaders and individual team members and help you realize better outcomes. </br>
                <a class = "more1" href="/coaching">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
    </div>
    
    <hr>
    <h2>About Us</h2>
    
    
    <div class = "panel4">
        <div class = "inpanel4a">
            <button class="About_us" onclick="window.location.href = '/about_us#who_we_are';">Who We Are</button></br>
            <button class="About_us" onclick="window.location.href = '/about_us#meet_the_team';">What We Do</button></br>
            <button class="Collaborate" onclick="window.location.href = '/contact_us';">Contact Us</button>
        </div>
        <div class = "inpanel4b">
            <p>
                Our group has been providing Agile training and coaching to leading organization for many years. 
                We are certified trainers...
                From assessment to coaching, helping you transform into a more Agile environment is our passion... 
                <a class = "more1" href="/about_us">
                    <span>
                    Learn More
                    </span>
                </a>
            </p>
        </div>
    </div>
    
    <hr>
    <h2>Our Partners</h2>
    
    
    <div class = "panel5">
        <div class = "inpanel5">
            <img class = "partner_logo" src="{{ url_for('static', filename='safe_provided_by_scaled_agile.png') }}" alt="logo1" width="180" height="80" onclick="window.location.href = 'https://www.scaledagileframework.com';">
        </div>
        <div class = "inpanel5">
             <img class = "partner_logo" src="{{ url_for('static', filename='sai_logo_rgb-400.png') }}" alt="logo2" width="300" height="70" onclick="window.location.href = 'https://www.scrumalliance.org';">
        </div>
        <div class = "inpanel5">
            <img class = "partner_logo" src="{{ url_for('static', filename='scrum_org_logo.PNG') }}" alt="logo3" width="200" height="70" onclick="window.location.href = 'https://www.scrum.org'">
        </div>
    </div>
    
    <hr>
    <h2>Get Inspired</h2>
    
    <div class = "panel6">
        <div class = "inpanel6">
            <div>
                <img src="{{ url_for('static', filename='Dev_Eng_1.jpg') }}" width="300px" height="200px">
            </div>
            <div>
                <p>“Our business simply wasn’t responsive. Capital Agile Services jumped right in and helped us transform our company!”</p>
            </div>
        </div>
        <div class = "inpanel6">
            <div>
                <img src="{{ url_for('static', filename='Dev_Eng_2.jpg') }}" width="300px" height="200px">
            </div>
            <div>
                <p>“The coaching CAS provided was fantastic! We learned new Agile practices while delivering results sooner than ever.”</p>
            </div>
        </div>
        <div class = "inpanel6">
            <div>
                <img src="{{ url_for('static', filename='Dev_Eng_3.jpg') }}" width="300px" height="200px">
            </div>
            <div>
                <p>“Our team has found your courses to be invaluable. Your reputation for excellence is well deserved.”</p>
            </div>
        </div>
        <div class = "inpanel6">
            <div>
                <img src="{{ url_for('static', filename='Own_Mgr_1.jpg') }}" width="300px" height="200px">
            </div>
            <div>
                <p>“We struggled implementing Agile. Your ability to identify areas needing focus provided the insight and guidance we needed.”</p>
            </div>
        </div>
    </div>    
    
    <hr>
    <h3>Stay Connected</h3>
    <div class = "panel7">
        Receive information regarding upcoming workshops</br>
<!--         <label for="name">Name:</label> -->
        <div class="aligned_input">
            <input type="name" id="name" placeholder="Enter name" name="name"></br>
        </div>
<!--         <label for="email">Email:</label> -->
        <div class="aligned_input">
            <input type="email" id="email" placeholder="Enter email" name="email"></br>
        </div>
        <div>
            <label>
                <input type="checkbox" name="remember">  I consent to receiving emails from Capital Services
            </label>
        </div>
        </br>
        <button class="Collaborate" type="submit">Sign Up</button></br>
    </div>
    
    

    
    
</div>
<div class="parallax"></div>
   <!--
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="parallax">

<div class="w3-container">

</div>

<div class="w3-content w3-display-container">
  <div class=" w3-center w3-container mySlides">
      <img src="static/contact-us.jpg" width="100%", height="500px" onclick="window.location.href = '/contact_us';"></br>
      <button onclick="window.location.href = '/contact_us';">Collaborate</button>
  </div>

  <img class="mySlides" src="static/assessment.jpg" width="100%", height="500px">
  <img class="mySlides" src="static/courses.jpg" width="100%", height="500px">
  <img class="mySlides" src="static/coaching_img.jpg" width="100%", height="500px">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:80%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
  </div>
</div>
    
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>
-->
    </div>
{% endblock %}

{% include "footer.html" %}