{% extends "base.html" %}

{% block content %}
	<h1>Contact Us</h1>
	
	<p1>
    	Email: info@capitalservice.com<br/>
        Phone: 555-555-5555<br/>
        Social media logos and handles<br/>
        ex: Twitter icon followed by @CapitalServices<br/>
        Have you completed one of our courses? Leave a review! 
    </p1>
    
    </p2>
        Contact form</br>
        Name:</br>
        Email address:</br>
        Phone:</br>
        Company:</br>
        Comments/questions:</br>
     </p2>
       
      
{% endblock %}