{% include "header.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='/contact_us.css') }}">
<div class = "contact_us_panel">
  <div class = "contact_us_panel1">

     
      	 <p><b>Email:</b> info@capitalservice.com<br/></p>
        <p> <b> Phone:</b> 555-555-5555<br/></p>

          <div class="contact_us-social-icons">
                  <p>Follow Us</p>
                  <ul class="contact_us_social-icons">
                    <img class = "contact_us_icon" src="static/facebook.png" style="width:10%" onclick="window.location.href = '/contact_us';">
                    <img class = "contact_us_icon" src="static/twitter.png" style="width:10%" onclick="window.location.href = '/contact_us';">
                    <img class = "contact_us_icon" src="static/youtube.png" style="width:10%" onclick="window.location.href = '/contact_us';">
                    <img class = "contact_us_icon" src="static/linkedin.png" style="width:10%" onclick="window.location.href = '/contact_us';">
                   </ul>
          </div>
      
  </div>
  <div class = "contact_us_panel1">

    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <br>
      <p>
          {{ form.name.label }}<br>
          {{ form.name(size=32) }}
          {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.email.label }}<br>
          {{ form.email(size=32) }}
          {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
        {{ form.phone.label }}<br>
        {{ form.phone(size=16) }}
        {% for error in form.phone.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
          {{ form.company.label }}<br>
          {{ form.company(size=32) }}
          {% for error in form.company.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.comments.label }}<br>
          {{ form.comments(rows='5', cols='32') }}
          {% for error in form.comments.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
  </div>
</div>
{% endblock %}
{% include "footer.html" %}