{% include "header.html" %}
{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static',    filename='/assessment.css') }}">
</head>
<div>
	<div style='z-index: 1'>
		<img src="{{url_for('static', filename='assessment_evaluation_image.png')}}"
 			style="width: 15vw; height: 10vw"/>
        <button style="margin-left: 1000px"class="Contact Us" onclick="window.location.href = '/contact_us';">Contact Us</button>
	</div>
	<div style='z-index: 2'>
		<ul style="margin-left: 200px;">
			<title> class="disc">Course Title</title>
				<ul class="pad">
					<li class="disc">Course Description -------------------------------------------------------------------------------------------------------------------------
					</li>
				</ul>
			<li class="disc">Leading SAFe</li>
				<ul class="pad">
					
					<ul class="pad">
					<li class="disc">This two-day course provides attendees with useful information about using the Scaled Agile Framework*(SAFe) to lead a Lean-Agile enterprise. We cover the principles derived from Lean, systems thinking and Agile development to bring new energy into your product development and DevOps process.</li>
					</ul>
				</ul>
				<ul class="pad">
					<li class="disc">Organization Assessment</li>
					<ul class="pad">
					<li class="disc">Use an organization assessment to set a baseline for your overall Agile implementation.  See where you are taking advantage of Agile and where your company should focus their transformation efforts.  Sometimes an outside viewpoint is needed to be able to see the details that so often go unnoticed.</li>
					</ul>
				</ul>
				<ul class="pad">
					<li class="disc">Portfolio Assessment</li>
					<ul class="pad">
					<li class="disc">Use an organization assessment to set a baseline for your overall Agile implementation.  See where you are taking advantage of Agile and where your company should focus their transformation efforts.  Sometimes an outside viewpoint is needed to be able to see the details that so often go unnoticed.</li>
					</ul>
				</ul>
				<ul class="pad">
					<li class="disc">Program Assessment</li>
					<ul class="pad">
					<li class="disc">Measure the effectiveness of your Agile implementation.  Identify targets for improvement across a number of development teams.  See where your planning and execution are working well, and where they can be improved</li>
					</ul>
				</ul>
				<ul class="pad">
					<li class="disc">Team Assessment</li>
					<ul class="pad">
					<li class="disc">A team is more than the sum of its parts - there's a synergy at work when there's a shared vision and everyone is in sync.  Uncover the dynamics of your team's environment to enable all the members to contribute up to their full potential.</li>
					</ul>
				</ul>
				<ul class="pad">
					<li class="disc">Individual Role/Talent</li>
					<ul class="pad">
					<li class="disc">Each member of an Agile team needs a consistent level of understanding in order to enable organizational transformation.  Learn how your team members are using Agile practices and where they need additional coaching. .</li>
					</ul>
				</ul>
		</ul>
	</div>
	<div style='z-index: 3' id="wrapper">
        <button onclick="window.location.href = '/contact_us';">Contact Us</button>
	</div>
</div>
{% endblock %}
{% include "footer.html" %}