{% include "header.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='course1.css') }}">
  <style>
  </style>
</head>

<div class="section-title">
  <div class="title-left">
   <img src="{{url_for('static', filename='custom-logo-safe-portfolio-management.png')}}">
 </div>
  <div class="title-right">
    <p>Certified SAFe Agilist </p>
    <p>Location: Online </p>
  </div>

  <div class="title-button">
    <a href="/registration"><button>Register</button></a>
 
  </div> 
</div>
<br>
<div class="general-body">
  <div class="body-left">
    <div class="content">
      <h3> About this course </h3>
      <p>A foundational course for the Certified SAFe Agilist certificate</p>
      <h3> What you will learn</h3>
      <p>The goal of this two day course is to equip you with the knowledge that is needed in order to be at the forefront of a Lean-Agile enterprise.
      Leading a Lean-Agile enterprise is a demanding task, and this course will provide you with a deep understanding of the Scaled Agile Framework (SAFe),
      so that you can take that framework and apply it to an enterprise.

      During the course, attendees will learn about how to become masters of Business Agility so that they can use that expertise to rise to the top in the market. Discussions will be centered around how to develop agility within teams and in the technical space, and how to use that agility to reorient how value flows in the organization. Additional discussions and sessions will provide attendees with training on how to embrace a mindset centered around the customer, as well as how to implement design thinking, as they deliver products within an agile methodology. Attendees will also be instructed on how to orchestrate and use PI Planning events, as well as how to manage and direct different Agile Release Trains (ARTs) that run concurrently. Finally, attendees will learn how to execute a Lean Portfolio Management function within their enterprises.

      Unlike any other training program, we offer the following bonuses:

      <ul>
      <li>The highest passing rates: The Certified SAFe® Agilist certification exam is rigorous,but you will be prepared. Nearly 100% of our graduates pass the exam on their very first attempt. In the unlikely event that you would need to retake the exam, a second trial is free and additional examinations are discounted.</li>

      <li>Free follow-up access to your course materials for one year.</li>

      <li>25% discount on future course fees. Save on courses as you sail through the certification process.</li>

      <li>Anytime availability: Your courses are available over the Internet 7 days a week and 24 hours a day. Study at any day and time you want. Once you are ready, simply sign up to take the certification exam!</li>
      </ul>
      Prerequisites: Highly recommended that participants have 5+ years of experience working in software development, business analysis, testing, project management, or product management fields. Experience working in a Scrum environment is also highly desirable.</p>
    </div>

    <div class="instructor">
      <h3> Meet the Instructors </h3>
    </br>
    
      <div class="instructor-left">
        <img src="{{url_for('static', filename='Raj.jpg')}}">
      </div>

        <div class="instructor-right">
          <p><b>Raj Heda:</b> Raj Heda has been teaching SAFe Agilist courses for over 20 years. He has extensive experience leading teams in Agile transformation, with successful results. Raj currently teaches at Boston University and Brandeis University in the Boston area.</p>
          </br>
        </div>
    </div>
  </div>

  <div class="body-right"> 
    <ul>
      <li>
        <span class="info-key">Length: </span>
        <span class="info-val">2 Days</span>
      </li> 
      <li>
        <span class="info-key">Effort: </span>
        <span class="info-val">8 hours/day</span>
      </li>  
       <li>
        <span class="info-key">Price: </span>
        <span class="info-val">$1500</span>
      </li>     
    </ul>
  </br>

  <div class="reviews">
    <ul>

      <h2>Reviews</h2>
      </br>

    
      <li>
        
        <div class="review-image-left"> 
          <img src="{{url_for('static', filename='face3.jpg')}}">
        </div>

        <div class="review-content-right">
        <b>Review 1:</b> Great course; I learned everything I needed and more! I am excited to implement these skills into my role in my organization. 
        </div>
        </br>
        </br>
      </li>

      <li>
        
        <div class="review-image2-left"> 
          <img src="{{url_for('static', filename='face2.jpg')}}">
        </div>

        <div class="review-content2-right">
        <b>Review 2:</b> Fantastic experience! Highly recommended! I am looking forward to sharing what I’ve learned with my enterprise.
        </div>

      </li>
    </br>
      <li>
        
        <div class="review-image3-left"> 
          <img src="{{url_for('static', filename='face1.jpg')}}">
        </div>

        <div class="review-content3-right">
        <b>Review 3:</b> Raj is an excellent instructor, always willing to help and great at explainingconcepts.

      </li>
      </br>
      <li>
        
        <div class="review-image4-left"> 
          <img src="{{url_for('static', filename='face4.jpg')}}">
        </div>

        <div class="review-content4-right">
        <b>Review 4:</b> This course equipped me with the skills I needed to grow and advance in my career. Many thanks!
        </div>
        </br>
      </li>
    </ul>

  </div>

    </div>
  </div>
  </div> 
</div>

</br>
</br>

<div class="button">
  <button onclick="window.location.href = '/contact_us';">Contact Us</button>
</div>


<div class= "center-button" align=center>
  <a href="/registration"><button>Register</button></a>
</div>

{% endblock %}
{% include "footer.html" %}