{% include "header.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='course1.css') }}">
  <style>
  </style>
</head>

<div class="section-title">
  <div class="title-left">
   <img src="{{url_for('static', filename='custom-logo-safe-portfolio-management.png')}}">
  </div>

  <div class="title-right">
    <p>Leading SAFe (scaledagile.com) </p>
    <p>May 1st 2020 - July 30th 2020</p>
    <p>Location: Online </p>
  </div>

  <div class="title-button">
    <a href="/registration"><button>Register</button></a>
  </div> 
</div>

<div class="general_body">
  <div class="body-left">
    <div class="content">
      <h3> About this course </h3>
      <p>This two-day course provides attendees with useful information about using the Scaled Agile Framework*(SAFe) to lead a Lean-Agile enterprise. We cover the principles derived from Lean, systems thinking and Agile development to bring new energy into your product development and DevOps process. </p>
      <h3> What you will learn</h3>
      <p>The class shares insights into mastering Business Agility, allowing participants to compete more effectively in the marketplace. We will discuss how to organize and re-organize around the flow of value, which aids in establishing team and technical agility. Students also learn and practice the skills for supporting and executing PI Planning events and coordinating multiple Agile Release Trains (ARTs).Participants in the class explore the importance of adopting a customer-centric mindset and design thinking approach to agile product delivery. After completing the course, participants will develop an understanding for implementing a Lean Portfolio Management function in their enterprise, and will be eligible to take the certified SAFe® Agilist (SA) exam. </p>
    </div>

    <div class="instructor">
      <h3> Meet the Instructors </h3>
    </br>
    
      <div class="instructor-left">
        <img src="{{url_for('static', filename='Raj.jpg')}}">
      </div>

        <div class="instructor-right">
          <p>Raj Heda : ____________________________________________________________</p>
          </br>
        </div>
    </div>
  </div>

  <div class="body-right"> 
    <ul>
      <li>
        <span class="info-key">Length: </span>
        <span class="info-val">36 weeks</span>
      </li> 
      <li>
        <span class="info-key">Effort: </span>
        <span class="info-val">3 hours/week</span>
      </li>  
       <li>
        <span class="info-key">Price: </span>
        <span class="info-val">$1500</span>
      </li>     
    </ul>
  </br>

  <div class="reviews">
    <ul>

      <h2>Reviews</h2>
      </br>

    
      <li>
        
        <div class="review-image-left"> 
          <img src="{{url_for('static', filename='face3.jpg')}}">
        </div>

        <div class="review-content-right">
        Review 1: ____________________________________________
        </div>
        </br>
        </br>
      </li>

      <li>
        
        <div class="review-image2-left"> 
          <img src="{{url_for('static', filename='face2.jpg')}}">
        </div>

        <div class="review-content2-right">
        Review 2: _____________________________________________
        </div>

      </li>
    </br>
      <li>
        
        <div class="review-image3-left"> 
          <img src="{{url_for('static', filename='face1.jpg')}}">
        </div>

        <div class="review-content3-right">
        Review 3:_______________________________________________
        </div>

      </li>
      </br>
      <li>
        
        <div class="review-image4-left"> 
          <img src="{{url_for('static', filename='face4.jpg')}}">
        </div>

        <div class="review-content4-right">
        Review 4: ______________________________________________
        </div>
        </br>
      </li>
    </ul>

  </div>

    </div>
  </div>
  </div> 
</div>

</br>
</br>

<div class="wrapper">
  <button onclick="window.location.href = '/contact_us';">Contact Us</button>
</div>


<div class= "center-button" align=center>
  <a href="/registration"><button>Register</button></a>
</div>

{% endblock %}
{% include "footer.html" %}