{% block content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='/footer.css') }}">
	
	<div class = "footer_panel">
    	<div class = "infooterpanel">
            <div style="clear:both;">  
        	<img class = "footer_logo" src="{{url_for('static', filename='logo.png')}}" height=50, width=100 style="float:left" onclick="window.location.href = '/';"/>  
        	</div>
            <div style="clear:both;">
            Capital Agile Services
            </div>
    	</div>
    	
    	<div class = "infooterpanel">
        	Related Links</br>
        	<a class = "footer_about_us_link" href = "/about_us" style="color:white;">About Us</a></br>
        	<a class = "footer_contact_us_link" href = "/contact_us" style="color:white;">Contact Us</a></br>
        	<a class = "footer_contact_us_link" href = "/contact_us" style="color:white;">Become a Trainer</a></br>
        	<a class = "footer_contact_us_link" href = "/contact_us" style="color:white;">Terms & Conditions</a></br>
    	</div>
    	<div class = "infooterpanel">    
        	<div class="footer-social-icons">
                Follow Us
                <ul class="social-icons">
                    <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                </ul>
</div>
    	</div>
	</div>
{% endblock %}