<html>
    <head>
      {% if title %}
      <title>{{ title }} - Capital Services</title>
      {% else %}
      <title>Welcome to Capital Services</title>
      {% endif %}
<!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      {% if css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='/header' + css + '.css') }}">
      {% else %}
      <link rel="stylesheet" href="{{ url_for('static', filename='/header.css') }}">
      {% endif %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-custom bgimg" style="position:relative;height:25%;width:100%;">
      	<div class="collapse navbar-collapse navbar-custom new_line" id="navbarCustom" style="position:relative;height:75%;width:100%;text-align:center;">
      		<div style="display:block;vertical-align:top;width:25%;height:100%;">
      			<div style="height:50%;clear:both;">
      				<a href="/">
<!-- 	      				<img src="{{url_for('static', filename='logo.png')}}" height=100, width=200 style="float:left"/> -->
                <img src="{{url_for('static', filename='CAS_Logo_White.png')}}" height=100, width=200 style="float:left"/>
	            	</a>
      			</div>
      			<div style="height:50%;clear:both;">
<!--       				<font size="3" style="float:left;">Capital Agile Services</font> -->
      			</div>
      		</div>
      		<div style="position:absolute;top:0;right:200;">
      			<div>
	                <ul class="navbar-nav mr-auto" style="margin-left: 200px;margin-right:0px;">
	                  <li class="nav-item">
	                    <a href="/assessment" class="nav-link">Assessment</a>&emsp;
	                  </li>
	                  <li class="nav-item dropdown">
	                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown">Training</a>&emsp;
	                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	                      <a class="dropdown-item" href="/training">Public & Corporate</a>
	                      <a class="dropdown-item" href="/upcoming_courses">Upcoming Courses</a>
	                    </div> 
	                  </li>
	                  <li class="nav-item">
	                    <a href="/coaching" class="nav-link">Coaching</a>&emsp;
	                  </li>
	                  <li class="nav-item">
	                    <a href="/resources" class="nav-link">Resources</a>&emsp;
	                  </li>
	              </ul>
              	</div>

              </div>
              <div class="vertical-line"></div>
              <div style="position:absolute;top:0;right:0;display:block;vertical-align:top;width:10%;height:100%">
              	<div>
              		<button onclick="window.location.href='/upcoming_courses';">View Courses</button>
              	</div>
             
              	<div style="display:table;width:100%;height:50%;margin:auto;">
                  <a href="" class="social-icon"> <i class="fa fa-facebook"></i></a>
                  <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
                  <a href="" class="social-icon"> <i class="fa fa-youtube"></i>
                  <a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a>
              	</div>
            
              </div>
         </div>
        <div>
          {% if page_title %}
          <h1>{{ page_title }}</h1>
          {% endif %}
        </div>
<!--          <div style="position:relative;height:25%;width:100%;text-align:center">
         	{% if page_title %}
         	<h1>{{ page_title }}</h1>
            {% endif %}
         </div> -->
      </nav>
        {% block content %}{% endblock %}
    </body>
</html>