<html>
    <head>
      {% if title %}
      <title>{{ title }} - Capital Services</title>
      {% else %}
      <title>Welcome to Capital Services</title>
      {% endif %}
<!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='/header.css') }}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-custom bgimg">

          <div class="collapse navbar-collapse navbar-custom new_line" id="navbarCustom">
              <div style="display:inline-flex;vertical-align:top;">
                <img src="{{url_for('static', filename='logo.png')}}" height=50, width=100 style="float:left"/>
                <font size="3">Capital Agile Services</font>
                  <ul class="navbar-nav mr-auto" style="margin-left: 200px;margin-right:  0px;">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>&emsp;
                  </li>
                  <li class="nav-item">
                    <a href="/assessment" class="nav-link">Assessment</a>&emsp;
                  </li>
            
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown">Training</a>&emsp;
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/training">Public & Corporate</a>
                      <a class="dropdown-item" href="/upcoming_course">Upcoming Courses</a>
                    </div> 
                  </li>
                  <li class="nav-item">
                    <a href="/coaching" class="nav-link">Coaching</a>&emsp;
                  </li>
                  <li class="nav-item">
                    <a href="/resources" class="nav-link">Resources</a>&emsp;
                  </li>
                  <li class="nav-item">
                    <a href="/about_us" class="nav-link">About Us</a>&emsp;
                  </li>
                  <li class="nav-item">
                    <a href="/contact_us" class="nav-link">Contact Us</a>&emsp;
                  </li>
              </ul>
              </div>
              <p></p>
              <br>
              <br>

         </div>
              <div style="display: block;">
                {% if page_title %}
                <h1>{{ page_title }}</h1>
                {% endif %}
              </div>
      </nav>
        {% block content %}{% endblock %}
    </body>
</html>