{% include "header.html" %}

{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static',    filename='/training.css') }}">
</head>
<div class="row">
  <div class="block">Course Type</div>
  <div class="block">Certifying Body</div>
  <div class="block">Role</div>
</div>
<div class="row">
	<ul style="margin-left: 50px;">
		<li class="disc" style="text-align: left;">Leadership</li>
			<ul class="pad">
				<li class="left_text">Cali</li>
			</ul>
	</ul>
</div>
{% endblock %}

{% include "footer.html" %}