{% include "header.html" %}

{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static',    filename='/training.css') }}">
	<script src="{{ url_for('static',    filename='/training_scripts.js') }}"></script>
</head>
<div class="row" id="filters">
  <div class="block">
  	<ul class = "course_type_filters" style="list-style-type:none;">
		<li><select id="course_type_filter_list" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
	    	<option value="ct_default">Course Type</option>
	    	<option value="Public">Public</option>
	    	<option value="Corporate">Corporate</option>
	    	</select>
		</li>
    </ul>
  </div>
  <div class="block">
  	  <ul class = "certifying_body_filter" style="list-style-type:none;">
		<li><select id="certifying_body_filter_list" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
	    	<option value="cb_default">Certifying Body</option>
	    	<option value="Scrum Alliance">Scrum Alliance</option>
	    	<option value="Scaled Agile">Scaled Agile</option>
	    	<option value="Scrum.org">Scrum.org</option>
	    	<option value="PMI">PMI</option>
	    	<option value="Custom">Custom</option>
	    	</select>
		</li>
    </ul>
  </div>
  <div class="block">
  	  <ul class = "role_filter" style="list-style-type:none;">
		<li><select id="role_filter_list" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
	    	<option value="role_default">Role</option>
	    	<option value="Business Analyst">Business Analyst</option>
	    	<option value="Content Writer">Content Writer</option>
	    	<option value="Developer">Developer</option>
	    	<option value="Product Owner">Product Owner</option>
	    	<option value="Scrum Master">Scrum Master</option>
	    	<option value="QA">QA</option>
	    	<option value="UI/UX">UI/UX</option>
	    	</select>
		</li>
    </ul>
  </div>
</div>
<div class="row" id="class_div">
	<ul style="margin-left: 50px;">
		<li class="disc" style="text-align: left;">Leadership</li>
			<ul class="pad">
				<li class="class_icons" id="cal1_li">
					<a href = "/courses/cal1">
						<img src="{{ url_for('static', filename='SAI_Certification_CAL1_RGB.png') }}" width="120px" height="120px" alt="cal1" id="cal1_img">
					</a>
				</li>
			</ul>
		<li class="disc" style="text-align: left;">Scaled Agile 5.0</li>
			<ul class="pad">
				<li class="class_icons" id="leading_safe_li">
					<a href = "/courses/sa">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SA-1.png') }}" width="120px" height="150px" alt="sa" id="leading_safe_img">
					</a>
				</li>
				<li class="class_icons" id="safe_csp_li">
					<a href = "/courses/sp">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SP-1.png') }}" width="120px" height="150px" alt="sp" id="safe_csp_img">
					</a>
				</li>
				<li class="class_icons" id="ssm_li">
					<a href = "/courses/ssm">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SSM-1.png') }}" width="120px" height="150px" alt="ssm" id="ssm_img">
					</a>
				</li>
				<li class="class_icons" id="safe_lpm_li">
					<a href = "/courses/lpm">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-LPM-1.png') }}" width="120px" height="150px" alt="lpm" id="safe_lpm_img">
					</a>
				</li>
				<li class="class_icons" id="spc_li">
					<a href = "/courses/spc">
						<img src="{{ url_for('static', filename='Implementing-SAFe-5-Courseware-Thumbnails-SPC-1.png') }}" width="120px" height="150px" alt="spc" id="spc_img">
					</a>
				</li>
				<li class="class_icons" id="safe_apm_li">
					<a href = "/courses/apm">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-APM.png') }}" width="120px" height="150px" alt="apm" id="safe_apm_img">
					</a>
				</li>
				<li class="class_icons" id="sasm_li">
					<a href = "/courses/sasm">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SASM.png') }}" width="120px" height="150px" alt="sasm" id="sasm_img">
					</a>
				</li>
				<li class="class_icons" id="popm_li">
					<a href = "/courses/popm">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-POPM.png') }}" width="120px" height="150px" alt="popm" id="popm_img">
					</a>
				</li>
				<li class="class_icons" id="safe_rte_li">
					<a href = "/courses/rte">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-RTE.png') }}" width="120px" height="150px" alt="rte" id="safe_rte_img">
					</a>
				</li>
				<li class="class_icons" id="sdp_li">
					<a href = "/courses/sdp">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SDP-343x400-2.png') }}" width="120px" height="150px" alt="sdp" id="sdp_img">
					</a>
				</li>
				<li class="class_icons" id="sgp_li">
					<a href = "/courses/sgp">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SGP-1.png') }}" width="120px" height="150px" alt="sgp" id="sgp_img">
					</a>
				</li>
				<li class="class_icons" id="safe_ase_li">
					<a href = "/courses/ase">
						<img src="{{ url_for('static', filename='ASE_cover_rev.png') }}" width="120px" height="150px" alt="ase" id="safe_ase_img">
					</a>
				</li>
				<li class="class_icons" id="arch_li">
					<a href = "/courses/arch">
						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-ARCH.png') }}" width="120px" height="150px" alt="arch" id="arch_img">
					</a>
				</li>
			</ul>
		<li class="disc" style="text-align: left;">Scrum.org</li>
			<ul class="pad">
				<li class="class_icons" id="professional_scrum_master_li">
					<a href = "/courses/psm">
						<img src="{{ url_for('static', filename='PSM Logo.png') }}" width="120px" height="120px" alt="psm" id="professional_scrum_master_img">
					</a>
				</li>
				<li class="class_icons" id="professional_scrum_product_owner_li">
					<a href = "/courses/pspo">
						<img src="{{ url_for('static', filename='PSPO Logo.png') }}" width="120px" height="120px" alt="pspo" id="professional_scrum_product_owner_img">
					</a>
				</li>
				<li class="class_icons" id="professional_scrum_developer_li">
					<a href = "/courses/psd">
						<img src="{{ url_for('static', filename='PSD Logo.png') }}" width="120px" height="120px" alt="psd" id="professional_scrum_developer_img">
					</a>
				</li>

			</ul>
		<li class="disc" style="text-align: left;">Scrum Alliance</li>
			<ul class="pad">
				<li class="class_icons" id="certified_scrum_master_li">
					<a href = "/courses/csm">
						<img src="{{ url_for('static', filename='SAI_BadgeSizes_DigitalBadging_CSM.png') }}" width="120px" height="120px" alt="csm" id="certified_scrum_master_img">
					</a>
				</li>
				<li class="class_icons" id="certified_scrum_product_owner_li">
					<a href = "/courses/cspo">
						<img src="{{ url_for('static', filename='SAI_BadgeSizes_DigitalBadging_CSPO.png') }}" width="120px" height="120px" alt="cspo" id="certified_scrum_product_owner_img">
					</a>
				</li>
				<li class="class_icons" id="certified_scrum_developer_li">
					<a href = "/courses/csd">
						<img src="{{ url_for('static', filename='SAI_BadgeSizes_DigitalBadging_CSD.png') }}" width="120px" height="120px" alt="csd" id="certified_scrum_developer_img">
					</a>
				</li>
			</ul>
		<li class="disc" style="text-align: left;">Project Management Institute</li>
			<ul class="pad">
				<li class="class_icons" id="project_management_professional_li">
					<a href = "/courses/pmp">
						<img src="{{ url_for('static', filename='pmi-pmp-new.png') }}" width="200px" height="140px" alt="pmp" id="project_management_professional_img">
					</a>
				</li>
				<li class="class_icons" id="project_management_agile_certified_practitioner_li">
					<a href = "/courses/acp">
						<img src="{{ url_for('static', filename='pmi-acp-new.png') }}" width="200px" height="140px" alt="acp" id="project_management_agile_certified_practitioner_img">
					</a>
				</li>
			</ul>
		<li class="disc" style="text-align: left;">Corporate Training</li>
			<ul class="pad">
				<li class="class_icons" id="value_stream_workshop_li">
					<a href = "/courses/vsw">
						<img src="{{ url_for('static', filename='custom-logo-value-stream.png') }}" width="120px" height="120px" alt="vsw" id="value_stream_workshop_img">
					</a>
				</li>
				<li class="class_icons" id="safe_portfolio_management_li">
					<a href = "/courses/spm">
						<img src="{{ url_for('static', filename='custom-logo-safe-portfolio-management.png') }}" width="120px" height="120px" alt="spm" id="safe_portfolio_management_img">
					</a>
				</li>
				<li class="class_icons" id="program_increment_workshop_li">
					<a href = "/courses/piw">
						<img src="{{ url_for('static', filename='custom-logo-program-increment.png') }}" width="120px" height="120px" alt="piw" id="program_increment_workshop_img">
					</a>
				</li>
				<li class="class_icons" id="inspect_and_adapt_li">
					<a href = "/courses/ia">
						<img src="{{ url_for('static', filename='custom-logo-inspect-and-adapt.png') }}" width="120px" height="120px" alt="ia" id="inspect_and_adapt_img">
					</a>
				</li>
				<li class="class_icons" id="product_management_workshop_li">
					<a href = "/courses/pmw">
						<img src="{{ url_for('static', filename='custom-logo-product-management.png') }}" width="120px" height="120px" alt="pmw" id="product_management_workshop_img">
					</a>
				</li>
				<li class="class_icons" id="team_building_li">
					<a href = "/courses/tb">
						<img src="{{ url_for('static', filename='custom-logo-team-building.png') }}" width="120px" height="120px" alt="tb" id="team_building_img">
					</a>
				</li>
				<li class="class_icons" id="scrum_kanban_li">
					<a href = "/courses/cskw">
						<img src="{{ url_for('static', filename='custom-logo-scrum-kanban.png') }}" width="120px" height="120px" alt="cskw" id="scrum_kanban_img">
					</a>
				</li>
			</ul>
	</ul>
</div>
{% endblock %}

{% include "footer.html" %}