
{% include "header.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/upcoming_courses.css') }}">
    <!-- <link rel="import" href="/nodep-date-input-polyfill/*.js"> -->
    <script src="{{ url_for('static',    filename='/filter_upcoming_courses.js') }}"></script>
    <script src="{{ url_for('static',    filename='/clear_filters.js') }}"></script>
<!--     <script src="{{ url_for('static',    filename='/fill_calendar.js') }}"></script> -->
    <!-- <script type="text/javascript" src="course.json"></script> -->
    <link href='static/fullcalendar-4.4.0/packages/core/main.css' rel='stylesheet' />
    <link href='static/fullcalendar-4.4.0/packages/daygrid/main.css' rel='stylesheet' />

    <script src='static/fullcalendar-4.4.0/packages/core/main.js'></script>
    <script src='static/fullcalendar-4.4.0/packages/daygrid/main.js'></script>
    <script src='static/fullcalendar-4.4.0/packages/interaction/main.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            /*contentHeight: 400,*/
            plugins: ['dayGrid', 'interaction'],
            events: [
                        {
                            "end": "2020-08-20",
                            "id": "acp",
                            "start": "2020-08-18",
                            "title": "PMI Agile Certified Practitioner",
                            "url": "courses/acp"
                        },
                        {
                            "end": "2020-05-01",
                            "id": "apm",
                            "start": "2020-04-28",
                            "title": "Agile Product Management",
                            "url": "courses/apm"
                        },
                        {
                            "end": "2020-10-14",
                            "id": "arch",
                            "start": "2020-10-12",
                            "title": "SAFe for Architects",
                            "url": "courses/arch"
                        },
                        {
                            "end": "2020-06-05",
                            "id": "ase",
                            "start": "2020-06-02",
                            "title": "Agile Software Engineering",
                            "url": "courses/ase"
                        },
                        {
                            "end": "2021-01-12",
                            "id": "cal1",
                            "start": "2021-01-10",
                            "title": "Certified Agile Leadership I",
                            "url": "courses/cal1"
                        },
                        {
                            "end": "2020-06-19",
                            "id": "csd",
                            "start": "2020-06-17",
                            "title": "Certified Scrum Developer",
                            "url": "courses/csd"
                        },
                        {
                            "end": "2020-08-18",
                            "id": "cskw",
                            "start": "2020-08-17",
                            "title": "Customized Scrum/Kanban Workshop",
                            "url": "courses/cskw"
                        },
                        {
                            "end": "2020-06-12",
                            "id": "csm",
                            "start": "2020-06-10",
                            "title": "Certified ScrumMaster",
                            "url": "courses/csm"
                        },
                        {
                            "end": "2020-08-20",
                            "id": "cspo",
                            "start": "2020-08-18",
                            "title": "Certified Scrum Product Owner",
                            "url": "courses/cspo"
                        },
                        {
                            "end": "2020-12-10",
                            "id": "ia",
                            "start": "2020-12-08",
                            "title": "Inspect & Adapt",
                            "url": "courses/ia"
                        },
                        {
                            "end": "2020-09-24",
                            "id": "lpm",
                            "start": "2020-09-22",
                            "title": "Lean Portfolio Management",
                            "url": "courses/lpm"
                        },
                        {
                            "end": "2020-05-19",
                            "id": "piw",
                            "start": "2020-05-16",
                            "title": "Program Increment Workshop",
                            "url": "courses/piw"
                        },
                        {
                            "end": "2020-05-15",
                            "id": "pmp",
                            "start": "2020-05-11",
                            "title": "Project Management Professional",
                            "url": "courses/pmp"
                        },
                        {
                            "end": "2020-09-23",
                            "id": "pmw",
                            "start": "2020-09-21",
                            "title": "Product Management Workshop",
                            "url": "courses/pmw"
                        },
                        {
                            "end": "2021-01-12",
                            "id": "popm",
                            "start": "2021-01-10",
                            "title": "SAFe Product Owner / Product Manager",
                            "url": "courses/popm"
                        },
                        {
                            "end": "2020-04-24",
                            "id": "psd",
                            "start": "2020-04-22",
                            "title": "Professional Scrum Developer",
                            "url": "courses/psd"
                        },
                        {
                            "end": "2020-10-17",
                            "id": "psm",
                            "start": "2020-10-15",
                            "title": "Professional Scrum Master",
                            "url": "courses/psm"
                        },
                        {
                            "end": "2020-05-04",
                            "id": "pspo",
                            "start": "2020-05-02",
                            "title": "Professional Scrum Product Owner",
                            "url": "courses/pspo"
                        },
                        {
                            "end": "2020-04-22",
                            "id": "rte",
                            "start": "2020-04-20",
                            "title": "SAFe Release Train Engineer",
                            "url": "courses/rte"
                        },
                        {
                            "end": "2020-05-26",
                            "id": "sa",
                            "start": "2020-05-24",
                            "title": "Leading SAFe",
                            "url": "courses/sa"
                        },
                        {
                            "end": "2020-06-22",
                            "id": "sasm",
                            "start": "2020-06-20",
                            "title": "SAFe Advanced Scrum Master",
                            "url": "courses/sasm"
                        },
                        {
                            "end": "2020-12-11",
                            "id": "sdp",
                            "start": "2020-12-09",
                            "title": "SAFe DevOps",
                            "url": "courses/sdp"
                        },
                        {
                            "end": "2020-08-24",
                            "id": "sgp",
                            "start": "2020-08-22",
                            "title": "SAFe for Governments",
                            "url": "courses/sgp"
                        },
                        {
                            "end": "2020-05-23",
                            "id": "sp",
                            "start": "2020-05-21",
                            "title": "SAFe for Teams",
                            "url": "courses/sp"
                        },
                        {
                            "end": "2020-04-29",
                            "id": "spc",
                            "start": "2020-04-25",
                            "title": "Implementing SAFe",
                            "url": "courses/spc"
                        },
                        {
                            "end": "2020-08-19",
                            "id": "spm",
                            "start": "2020-08-17",
                            "title": "SAFe Portfolio Management",
                            "url": "courses/spm"
                        },
                        {
                            "end": "2020-12-09",
                            "id": "ssm",
                            "start": "2020-12-07",
                            "title": "SAFe Scrum Master",
                            "url": "courses/ssm"
                        },
                        {
                            "end": "2020-07-30",
                            "id": "tb",
                            "start": "2020-07-29",
                            "title": "Team Building",
                            "url": "courses/tb"
                        },
                        {
                            "end": "2020-11-05",
                            "id": "vsw",
                            "start": "2020-11-03",
                            "title": "Value-Stream Workshop",
                            "url": "courses/vsw"
                        }
                    ],
        });
        calendar.render();
      });
    </script>
</head>
<div class = "upcoming_course_panel">
    <div style="text-align:center;">
        <button id='hide_button'>Show/Hide Calendar</button>
    </div>
	<div class = "upcoming_course_panel0">
        	<!-- <h2>Calendar</h2> -->

        <div id='calendar'></div>
    </div>
    
	<div class = "upcoming_course_panel1">

        <div class = "upcoming_course_panel1a">
        	
        	<div class = "filter_header">Filter Events</div>
        	
        	<div class = "filter_body" id="filters">	
            	<ul class = "upcoming_course_filters" style="list-style-type:none;">

                	<li><select id="event_filter" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
                    	<option value="courses">All Courses</option>
                    	<option value="events">All Events</option>
                    	<option value="meetups">All Meetups</option>
                    	<option value="webinars">All Webinars</option>
                	</select></li></br>

                	<li><select id="course_type_filter_list" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
                    	<option value="ct_default">All Course Types</option>
                    	<option value="Public">Public</option>
                    	<option value="Corporate">Corporate</option>
                	</select></li></br>

                    <li><input type="date" lang="en" id="start_date_input" onchange="filterImages('class_div', '{{ filter_data | jsonify}}')"/></li></br>
                    <li><input type="date" lang="en" id="end_date_input" onchange="filterImages('class_div', '{{ filter_data | jsonify}}')"/></li></br>
                	
                    <li><select id="country_filter" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
                    	<option value="all_countries">All Countries</option>
                    	<option value="UK">UK</option>
                    	<option value="US">US</option>
                	</select></li></br>
                	
                	<!--functions for city filter -->
                    <li><select id="city_filter" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
                                <option value="all_cities">All Cities</option>
                                <option value="London">London</option>
                                <option value="Boston">Boston</option>
                            </select></li></br>
          
                  	<li><select id="trainer_filter" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
                    	<option value="all_trainers">All Trainers</option>
                    	<option value="Heda">Heda</option>
                	</select></li></br>

                	<li><select id="partner_filter" onchange="filterImages('class_div', '{{ filter_data | jsonify }}')">
                    	<option value="partner_default">All Partners</option>
                        <option value="Scrum Alliance">Scrum Alliance</option>
                        <option value="Scaled Agile">Scaled Agile</option>
                        <option value="Scrum.org">Scrum.org</option>
                        <option value="PMI">PMI</option>
                        <option value="Custom">Custom</option>      	
                	</select></li>
            	</ul>
        	</div>
        	
        	<div class = "filter_footer">
            	<button class="filter_clear">Clear Filters</button>
        	</div>	
        </div>
    	
    	
    	<div class = "upcoming_course_panel1b">
    	
    	<div class="list", id="class_div">
    	
            <ul class="pad" style="list-style: none;">
                <li class="class_icons" id="cal1_li">
    				<div class="cell">
        				<a href = "/courses/cal1">
        					<img src="{{ url_for('static', filename='SAI_Certification_CAL1_RGB.png') }}" width="120px" height="120px" alt="cal1" id="cal1_img" align="left">
        				</a>
        				</br>Course Name: {{ display['cal1']['course_title'] }}</br>
                    	Location: {{ display['cal1']['location'] }}</br>
                    	Instructor Name: {{ display['cal1']['instructor'] }}</br>
                        Start Date: {{ display['cal1']['start_date'] }}<br>
                        End Date: {{ display['cal1']['end_date'] }}
    				</div>
        		</li>
    
        		<li class="class_icons" id="leading_safe_li">
					<div class="cell">
    					<a href = "/courses/sa">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SA-1.png') }}" width="120px" height="150px" alt="sa" id="leading_safe_img" align="left">
    					</a>
                        </br>Course Name: {{ display['sa']['course_title'] }}</br>
                            Location: {{ display['sa']['location'] }}</br>
                            Instructor Name: {{ display['sa']['instructor'] }}</br>
                            Start Date: {{ display['sa']['start_date'] }}<br>
                            End Date: {{ display['sa']['end_date'] }}
					</div>
				</li>

				<li class="class_icons" id="safe_csp_li">
					<div class="cell">
    					<a href = "/courses/sp">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SP-1.png') }}" width="120px" height="150px" alt="sp" id="safe_csp_img" align="left">
    					</a>
                        </br>Course Name: {{ display['sp']['course_title'] }}</br>
                            Location: {{ display['sp']['location'] }}</br>
                            Instructor Name: {{ display['sp']['instructor'] }}</br>
                            Start Date: {{ display['sp']['start_date'] }}<br>
                            End Date: {{ display['sp']['end_date'] }}
					</div>
				</li>
				
				
				<li class="class_icons" id="ssm_li">
					<div class="cell">
    					<a href = "/courses/ssm">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SSM-1.png') }}" width="120px" height="150px" alt="ssm" id="ssm_img" align="left">
    					</a>
                        </br>Course Name: {{ display['ssm']['course_title'] }}</br>
                            Location: {{ display['ssm']['location'] }}</br>
                            Instructor Name: {{ display['ssm']['instructor'] }}</br>
                            Start Date: {{ display['ssm']['start_date'] }}<br>
                            End Date: {{ display['ssm']['end_date'] }}
					</div>
				</li>
				
				
				<li class="class_icons" id="safe_lpm_li">
					<div class="cell">
    					<a href = "/courses/lpm">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-LPM-1.png') }}" width="120px" height="150px" alt="lpm" id="safe_lpm_img" align="left">
    					</a>
                        </br>Course Name: {{ display['lpm']['course_title'] }}</br>
                            Location: {{ display['lpm']['location'] }}</br>
                            Instructor Name: {{ display['lpm']['instructor'] }}</br>
                            Start Date: {{ display['lpm']['start_date'] }}<br>
                            End Date: {{ display['lpm']['end_date'] }}
					</div>
				</li>
				
				<li class="class_icons" id="spc_li">
					<div class="cell">
    					<a href = "/courses/spc">
    						<img src="{{ url_for('static', filename='Implementing-SAFe-5-Courseware-Thumbnails-SPC-1.png') }}" width="120px" height="150px" alt="spc" id="spc_img" align="left">
    					</a>
                        </br>Course Name: {{ display['spc']['course_title'] }}</br>
                            Location: {{ display['spc']['location'] }}</br>
                            Instructor Name: {{ display['spc']['instructor'] }}</br>
                            Start Date: {{ display['spc']['start_date'] }}<br>
                            End Date: {{ display['spc']['end_date'] }}
					</div>
				</li>	
				<li class="class_icons" id="safe_apm_li">
					<div class="cell">
    					<a href = "/courses/apm">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-APM.png') }}" width="120px" height="150px" alt="apm" id="safe_apm_img" align="left">
    					</a>
                        </br>Course Name: {{ display['apm']['course_title'] }}</br>
                            Location: {{ display['apm']['location'] }}</br>
                            Instructor Name: {{ display['apm']['instructor'] }}</br>
                            Start Date: {{ display['apm']['start_date'] }}<br>
                            End Date: {{ display['apm']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="sasm_li">
					<div class="cell">
    					<a href = "/courses/sasm">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SASM.png') }}" width="120px" height="150px" alt="sasm" id="sasm_img" align="left">
    					</a>
                        </br>Course Name: {{ display['sasm']['course_title'] }}</br>
                            Location: {{ display['sasm']['location'] }}</br>
                            Instructor Name: {{ display['sasm']['instructor'] }}</br>
                            Start Date: {{ display['sasm']['start_date'] }}<br>
                            End Date: {{ display['sasm']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="popm_li">
					<div class="cell">
    					<a href = "/courses/popm">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-POPM.png') }}" width="120px" height="150px" alt="popm" id="popm_img" align="left">
    					</a>
                        </br>Course Name: {{ display['popm']['course_title'] }}</br>
                            Location: {{ display['popm']['location'] }}</br>
                            Instructor Name: {{ display['popm']['instructor'] }}</br>
                            Start Date: {{ display['popm']['start_date'] }}<br>
                            End Date: {{ display['popm']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="safe_rte_li">
					<div class="cell">
    					<a href = "/courses/rte">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-RTE.png') }}" width="120px" height="150px" alt="rte" id="safe_rte_img" align="left">
    					</a>
                        </br>Course Name: {{ display['rte']['course_title'] }}</br>
                            Location: {{ display['rte']['location'] }}</br>
                            Instructor Name: {{ display['rte']['instructor'] }}</br>
                            Start Date: {{ display['rte']['start_date'] }}<br>
                            End Date: {{ display['rte']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="sdp_li">
					<div class="cell">
    					<a href = "/courses/sdp">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SDP-343x400-2.png') }}" width="120px" height="150px" alt="sdp" id="sdp_img" align="left">
    					</a>
                        </br>Course Name: {{ display['sdp']['course_title'] }}</br>
                            Location: {{ display['sdp']['location'] }}</br>
                            Instructor Name: {{ display['sdp']['instructor'] }}</br>
                            Start Date: {{ display['sdp']['start_date'] }}<br>
                            End Date: {{ display['sdp']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="sgp_li">
					<div class="cell">
    					<a href = "/courses/sgp">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-SGP-1.png') }}" width="120px" height="150px" alt="sgp" id="sgp_img" align="left">
    					</a>
                        </br>Course Name: {{ display['sgp']['course_title'] }}</br>
                            Location: {{ display['sgp']['location'] }}</br>
                            Instructor Name: {{ display['sgp']['instructor'] }}</br>
                            Start Date: {{ display['sgp']['start_date'] }}<br>
                            End Date: {{ display['sgp']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="safe_ase_li">
					<div class="cell">
    					<a href = "/courses/ase">
    						<img src="{{ url_for('static', filename='ASE_cover_rev.png') }}" width="120px" height="150px" alt="ase" id="safe_ase_img" align="left">
    					</a>
                        </br>Course Name: {{ display['ase']['course_title'] }}</br>
                            Location: {{ display['ase']['location'] }}</br>
                            Instructor Name: {{ display['ase']['instructor'] }}</br>
                            Start Date: {{ display['ase']['start_date'] }}<br>
                            End Date: {{ display['ase']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="arch_li">
    				<div class="cell">
    					<a href = "/courses/arch">
    						<img src="{{ url_for('static', filename='SAFe-5-Courseware-Thumbnails-ARCH.png') }}" width="120px" height="150px" alt="arch" id="arch_img" align="left">
    					</a>
                        </br>Course Name: {{ display['arch']['course_title'] }}</br>
                            Location: {{ display['arch']['location'] }}</br>
                            Instructor Name: {{ display['arch']['instructor'] }}</br>
                            Start Date: {{ display['arch']['start_date'] }}<br>
                            End Date: {{ display['arch']['end_date'] }}
					</div>
				</li>
                <li class="class_icons" id="professional_scrum_master_li">
    				<div class="cell">
        				<a href = "/courses/psm">
        					<img src="{{ url_for('static', filename='PSM Logo.png') }}" width="120px" height="120px" alt="psm" id="professional_scrum_master_img" align="left">
        				</a>
                        </br>Course Name: {{ display['psm']['course_title'] }}</br>
                            Location: {{ display['psm']['location'] }}</br>
                            Instructor Name: {{ display['psm']['instructor'] }}</br>
                            Start Date: {{ display['psm']['start_date'] }}<br>
                            End Date: {{ display['psm']['end_date'] }}
    				</div>
    			</li>
                <li class="class_icons" id="professional_scrum_product_owner_li">
    				<div class="cell">
        				<a href = "/courses/pspo">
        					<img src="{{ url_for('static', filename='PSPO Logo.png') }}" width="120px" height="120px" alt="pspo" id="professional_scrum_product_owner_img" align="left">
        				</a>
                        </br>Course Name: {{ display['pspo']['course_title'] }}</br>
                            Location: {{ display['pspo']['location'] }}</br>
                            Instructor Name: {{ display['pspo']['instructor'] }}</br>
                            Start Date: {{ display['pspo']['start_date'] }}<br>
                            End Date: {{ display['pspo']['end_date'] }}
    				</div>
    			</li>
                	
                <li class="class_icons" id="professional_scrum_developer_li">
    				<div class="cell">
        				<a href = "/courses/psd">
        					<img src="{{ url_for('static', filename='PSD Logo.png') }}" width="120px" height="120px" alt="psd" id="professional_scrum_developer_img" align="left">
        				</a>
                        </br>Course Name: {{ display['psd']['course_title'] }}</br>
                            Location: {{ display['psd']['location'] }}</br>
                            Instructor Name: {{ display['psd']['instructor'] }}</br>
                            Start Date: {{ display['psd']['start_date'] }}<br>
                            End Date: {{ display['psd']['end_date'] }}
    				</div>
    			</li>
            	<li class="class_icons" id="certified_scrum_master_li">
    				<div class="cell">
        				<a href = "/courses/csm">
        					<img src="{{ url_for('static', filename='SAI_BadgeSizes_DigitalBadging_CSM.png') }}" width="120px" height="120px" alt="csm" id="certified_scrum_master_img" align="left">
        				</a>
                        </br>Course Name: {{ display['csm']['course_title'] }}</br>
                            Location: {{ display['csm']['location'] }}</br>
                            Instructor Name: {{ display['csm']['instructor'] }}</br>
                            Start Date: {{ display['csm']['start_date'] }}<br>
                            End Date: {{ display['csm']['end_date'] }}
    				</div>
    			</li>
            	<li class="class_icons" id="certified_scrum_product_owner_li">
    				<div class="cell">
        				<a href = "/courses/cspo">
        					<img src="{{ url_for('static', filename='SAI_BadgeSizes_DigitalBadging_CSPO.png') }}" width="120px" height="120px" alt="cspo" id="certified_scrum_product_owner_img" align="left">
        				</a>
                        </br>Course Name: {{ display['cspo']['course_title'] }}</br>
                            Location: {{ display['cspo']['location'] }}</br>
                            Instructor Name: {{ display['cspo']['instructor'] }}</br>
                            Start Date: {{ display['cspo']['start_date'] }}<br>
                            End Date: {{ display['cspo']['end_date'] }}
    				</div>
    			</li>
        		<li class="class_icons" id="certified_scrum_developer_li">
    				<div class="cell">
        				<a href = "/courses/csd">
        					<img src="{{ url_for('static', filename='SAI_BadgeSizes_DigitalBadging_CSD.png') }}" width="120px" height="120px" alt="csd" id="certified_scrum_developer_img" align="left">
        				</a>
                        </br>Course Name: {{ display['csd']['course_title'] }}</br>
                            Location: {{ display['csd']['location'] }}</br>
                            Instructor Name: {{ display['csd']['instructor'] }}</br>
                            Start Date: {{ display['csd']['start_date'] }}<br>
                            End Date: {{ display['csd']['end_date'] }}
        			</div>
    			</li>
            	<li class="class_icons" id="project_management_professional_li">
                	<div class="cell">
    					<a href = "/courses/pmp">
    						<img src="{{ url_for('static', filename='pmi-pmp-new.png') }}" width="200px" height="140px" alt="pmp" id="project_management_professional_img" align="left">
    					</a>
                        </br>Course Name: {{ display['pmp']['course_title'] }}</br>
                            Location: {{ display['pmp']['location'] }}</br>
                            Instructor Name: {{ display['pmp']['instructor'] }}</br>
                            Start Date: {{ display['pmp']['start_date'] }}<br>
                            End Date: {{ display['pmp']['end_date'] }}
					</div>
    			</li>
				<li class="class_icons" id="project_management_agile_certified_practitioner_li">
					<div class="cell">
    					<a href = "/courses/acp">
    						<img src="{{ url_for('static', filename='pmi-acp-new.png') }}" width="200px" height="140px" alt="acp" id="project_management_agile_certified_practitioner_img" align="left">
    					</a>
                        </br>Course Name: {{ display['acp']['course_title'] }}</br>
                            Location: {{ display['acp']['location'] }}</br>
                            Instructor Name: {{ display['acp']['instructor'] }}</br>
                            Start Date: {{ display['acp']['start_date'] }}<br>
                            End Date: {{ display['acp']['end_date'] }}
					</div>
				</li>
            	<li class="class_icons" id="value_stream_workshop_li">
                	<div class="cell">
    					<a href = "/courses/vsw">
    						<img src="{{ url_for('static', filename='custom-logo-value-stream.png') }}" width="120px" height="120px" alt="vsw" id="value_stream_workshop_img" align="left">
    					</a>
                        </br>Course Name: {{ display['vsw']['course_title'] }}</br>
                            Location: {{ display['vsw']['location'] }}</br>
                            Instructor Name: {{ display['vsw']['instructor'] }}</br>
                            Start Date: {{ display['vsw']['start_date'] }}<br>
                            End Date: {{ display['vsw']['end_date'] }}
					</div>
				</li>
			    <li class="class_icons" id="safe_portfolio_management_li">
					<div class="cell">
    					<a href = "/courses/spm">
    						<img src="{{ url_for('static', filename='custom-logo-safe-portfolio-management.png') }}" width="120px" height="120px" alt="spm" id="safe_portfolio_management_img" align="left">
    					</a>
                        </br>Course Name: {{ display['spm']['course_title'] }}</br>
                            Location: {{ display['spm']['location'] }}</br>
                            Instructor Name: {{ display['spm']['instructor'] }}</br>
                            Start Date: {{ display['spm']['start_date'] }}<br>
                            End Date: {{ display['spm']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="program_increment_workshop_li">
					<div class="cell">
    					<a href = "/courses/piw">
    						<img src="{{ url_for('static', filename='custom-logo-program-increment.png') }}" width="120px" height="120px" alt="piw" id="program_increment_workshop_img" align="left">
    					</a>
                        </br>Course Name: {{ display['piw']['course_title'] }}</br>
                            Location: {{ display['piw']['location'] }}</br>
                            Instructor Name: {{ display['piw']['instructor'] }}</br>
                            Start Date: {{ display['piw']['start_date'] }}<br>
                            End Date: {{ display['piw']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="inspect_and_adapt_li">
					<div class="cell">
    					<a href = "/courses/ia">
    						<img src="{{ url_for('static', filename='custom-logo-inspect-and-adapt.png') }}" width="120px" height="120px" alt="ia" id="inspect_and_adapt_img" align="left">
    					</a>
                        </br>Course Name: {{ display['ia']['course_title'] }}</br>
                            Location: {{ display['ia']['location'] }}</br>
                            Instructor Name: {{ display['ia']['instructor'] }}</br>
                            Start Date: {{ display['ia']['start_date'] }}<br>
                            End Date: {{ display['ia']['end_date'] }}
					</div>
				</li>
        		<li class="class_icons" id="product_management_workshop_li">
					<div class="cell">
    					<a href = "/courses/pmw">
    						<img src="{{ url_for('static', filename='custom-logo-product-management.png') }}" width="120px" height="120px" alt="pmw" id="product_management_workshop_img" align="left">
    					</a>
                        </br>Course Name: {{ display['pmw']['course_title'] }}</br>
                            Location: {{ display['pmw']['location'] }}</br>
                            Instructor Name: {{ display['pmw']['instructor'] }}</br>
                            Start Date: {{ display['pmw']['start_date'] }}<br>
                            End Date: {{ display['pmw']['end_date'] }}
					</div>
				</li>
				<li class="class_icons" id="team_building_li">
					<div class="cell">
    					<a href = "/courses/tb">
    						<img src="{{ url_for('static', filename='custom-logo-team-building.png') }}" width="120px" height="120px" alt="tb" id="team_building_img" align="left">
    					</a>
                        </br>Course Name: {{ display['tb']['course_title'] }}</br>
                            Location: {{ display['tb']['location'] }}</br>
                            Instructor Name: {{ display['tb']['instructor'] }}</br>
                            Start Date: {{ display['tb']['start_date'] }}<br>
                            End Date: {{ display['tb']['end_date'] }}
    				</div>
				</li>
				<li class="class_icons" id="scrum_kanban_li">
					<div class="cell">
    					<a href = "/courses/cskw">
    						<img src="{{ url_for('static', filename='custom-logo-scrum-kanban.png') }}" width="120px" height="120px" alt="cskw" id="scrum_kanban_img" align="left">
    					</a>
                        </br>Course Name: {{ display['cskw']['course_title'] }}</br>
                            Location: {{ display['cskw']['location'] }}</br>
                            Instructor Name: {{ display['cskw']['instructor'] }}</br>
                            Start Date: {{ display['cskw']['start_date'] }}<br>
                            End Date: {{ display['cskw']['end_date'] }}
					</div>
				</li>
            </ul>
        </div>
        	
        </div>
	</div>
	
</div>

{% endblock %}
{% include "footer.html" %}